@import "../libs/normalize.css";
@import "_fonts.scss";
@import "_var.scss";

body {
  background-color: $white;
  font-family: "avenir-next-regular";
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 414px;
  height: 100%;
  background-color: $menu-bg;

  .logo {
    display: block;
    text-align: center;
    margin-top: 25px;

    img {
      width: 80px;
      height: 55px;
      margin: 0 auto;
    }
  }

  .search-form {
    margin-top: 50px;
    padding: 0 23px;

    .search-input-label {
      display: none;
    }

    .search-form-input {
      box-sizing: border-box;
      width: 100%;
      padding: 10px 14px 10px 56px;
      background: #0e0e0e url('../img/search-icon.svg') no-repeat 14px 7px;
      border: none;
      border-bottom: 4px solid #373737;
      color: #fff;
      font-size: 24px;

      &:hover {
        border-bottom: 4px solid #444;
      }

      &:focus {
        outline: none;
        border-bottom: 4px solid #fff;
      }
    }
  }

  .menu {
    text-align: center;
    font-size: 24px;
    font-family: "avenir-next-bold";
    align-items: center;
    margin-top: 135px;

    .menu-item {
      margin-bottom: 20px;
      margin-top: 40px;
      color: #3c3c3c;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;

      &-chevron:after {
        content: "";
        display: block;
        background: url("../img/chevron-icon.svg");
        background-repeat: no-repeat;
        width: 15px;
        height: 9px;
        margin-left: 6px;
      }

      &:hover {
        color: $white;
      }
    }

    .sub-menu {
      .sub-menu-item {
        margin-bottom: 26px;
        margin-top: 0;
        font-family: "andale-mono";
        color: #3c3c3c;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;

        &:hover {
          color: $white;
        }
      }

      .active-menu {
        color: $white;
      }
    }

    .active-menu {
      color: $white;
    }
  }
}

.product-catalog {
  margin-left: 414px;

  .filters-wrap {
    padding-top: 10px;
    padding-left: 24px;
    padding-bottom: 10px;
    border-bottom: 3px solid #e7e7e7;

    .filters {
      display: flex;
      align-content: flex-start;
      align-items: center;
      font-size: 24px;

      .filters-icon {
        display: block;
        background: #ebebeb;
        background-image: url("../img/filter-icon.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 40px;
        width: 55px;
        height: 55px;
        line-height: 55px;
        margin-right: 29px;
      }

      .filter-gender {
        .filter-button {
          border: none;
          background: none;
          color: #d6d6d6;
          text-transform: uppercase;
          cursor: pointer;
          font-family: "avenir-next-bold";
          font-weight: 100;
          padding: 0;

          &:first-of-type {
            margin-right: 12px;
          }
        }

        .active {
          color: $filter-color-active;
        }
      }

      .filter-size {
        margin-left: 72px;

        .filter-heading {
          color: $filter-color-active;
          text-transform: uppercase;
          font-family: "avenir-next-bold";
          font-weight: 100;
          margin-right: 15px;
        }

        .filter-button {
          border: none;
          background: none;
          color: #d6d6d6;
          text-transform: uppercase;
          cursor: pointer;
          font-family: "avenir-next-bold";
          font-weight: 100;
          padding: 0;
        }

        .active {
          color: $filter-color-active;
        }
      }
    }
  }
}

.catalog-wrap {
  margin-top: 7px;

  .row {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

    .product {
      box-shadow: 1px 5px 15px #CCCCCC;
      width: 15em;
      height: auto;
      padding: 6px 8px;
      margin: 1em;
      overflow: hidden;
      position: relative;
      flex: auto;
      background: $cart-bg-color;

      img {
        max-width: 100%;
        height: auto;
      }

      &-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column wrap;
        position: relative;

        .button {
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          width: 100%;
          min-height: 90px;
          line-height: 90px;
          text-align: center;
          font-family: "avenir-next-bold";
          font-size: 30px;
          color: $white;
          cursor: pointer;
          background-image: $cart-btn-color;
          margin-top: 13px;
          padding: 0;
        }

        .sale-tag {
          position: absolute;
          top: 5px;
          right: 5px;
          background-color: $sale-tag-color;
          font-size: 14px;
          font-family: "avenir-next-bold";
          text-transform: uppercase;
          color: $white;
          padding: 6px 20px;
        }
      }
    }
  }
}

.product {
  position: relative;

  .color-selector-panel {
    position: absolute;
    top: 42px;
    right: 143px;

    .color-selector {
      border: none;
      width: 18px;
      height: 18px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      cursor: pointer;
      color: transparent;
      margin-right: 9px;
      padding: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    .color-selector-gainsboro {
      background-color: #e0e0e0;
    }

    .color-selector-charcoal {
      background-color: #4a4a4a;
    }

    .color-selector-blue {
      background-color: #4d87ca;
    }

    .color-selector-silver {
      background-color: #c5c5c5;
    }
  }

  .product-image {
    padding: 51px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-heading {
    position: absolute;
    top: 26px;
    left: 31px;
    line-height: 1;
    font-family: "avenir-next-bold";
    font-size: 64px;
    color: #3a3a3a;
    word-spacing: 9999999px;
    margin: 0;
  }

  .save-btn {
    position: absolute;
    top: 168px;
    left: 28px;
    width: 75px;
    height: 75px;
    line-height: 75px;
    background-color: #e3e3e3;
    border: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    font-family: "avenir-next-bold";
    color: #ffffff;
  }

  .sale-badge {
    position: absolute;
    top: 35px;
    right: 31px;
    text-transform: uppercase;
    background-color: #ff5c5c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #ffffff;
    width: 76px;
    height: 32px;
    font-size: 14px;
  }

  .product-price {
    position: absolute;
    color: #e2e2e2;
    font-family: "avenir-next-bold";
    font-size: 80px;
    top: 87px;
    right: 31px;
    text-align: right;
    margin: 0;
    font-weight: normal;
  }

  .product-description {
    width: 100%;
    max-width: 927px;
    font-size: 33px;
    font-weight: 500;
    line-height: 1.52;
    text-align: left;
    color: #d8d8d8;
    padding: 50px 0 176px 35px;
  }

  .brand {
    color: #6e6e6e;
  }

  .product-images {
    height: 119px;
    display: flex;
    flex-basis: 70%;
  }

  .product-image-wrapper {
    padding-right: 5px;
    max-width: 100%;
    height: auto;
    flex-shrink: 0;
    flex-basis: 25%;
  }

  .product-image {
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
  }

  .product-image-slider {
    display: flex;
    padding-left: 34px;
  }

  .product-images-separator {
    flex-basis: 22%;
  }

  .product-images-more {
    flex-basis: 8%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: 14px;
  }

  .product-images-separator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .separator {
    border-top: 3px solid #e7e7e7;
    flex-basis: 3px;
    width: 159px;
    height: 3px;
    line-height: 3px;
  }

  .product-image-active {
    border: 5px solid #e8e8ea;
  }

  .more-photo-link {
    color: #c0c0c0;
    text-decoration: none;
  }

  .product-buy-button {
    position: fixed;
    bottom: 0;
    width: calc(100% - 414px);
    text-align: center;
    background-image: linear-gradient(to right, #4949aa, #27275d);
    min-height: 115px;
    border: none;
    cursor: pointer;
    font-family: "avenir-next-bold";
    font-size: 32px;
    padding: 0;
    color: $white;
  }
}
