.column {
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .column {
        flex: 1;
    }
    ._0 {
        flex: 0;
    }
    ._20 {
        flex: 2;
    }
    ._25 {
        flex: 2.5;
    }
    ._30 {
        flex: 3;
    }
    ._50 {
        flex: 5;
    }
    ._60 {
        flex: 6;
    }
    ._75 {
        flex: 7.5;
    }
    ._100 {
        flex: 10;
    }
}
