//colors
$onyx: #0F0F0F;
$white: #FFFFFF;
$neon-blue: #4D42F8;
$cod-gray: #303030;
$iron: #f4f4f4;
$carnation: #FF5C5C;

//global colors
$bg-color: $white;
$menu-bg: $onyx;
$cart-bg-color: $iron;
$active-link-color: $white;
$link-color: $cod-gray;
$filter-color-active: $neon-blue;
$filter-color: $iron;
$cart-btn-color: linear-gradient(107deg, #0c09bf, #966dd8);
$sale-tag-color: $carnation;
