@import "../libs/normolize.css";
@import "_fonts.scss";
@import "_var.scss";

body {
	background-color: $white;
}
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 414px;
	height: 100%;
	background-color: $menu-bg;
	.logo {
		display: block;
		text-align: center;
		margin-top: 25px;
		img {
			width: 80px;
			height: 55px;
			margin: 0 auto;
		}
	}
	.search-form {
		margin-top: 50px;
		padding: 0 23px;
		.search-input-label {
			display: none;
		}
		.search-form-input {
			box-sizing: border-box;
			width: 100%;
			padding: 10px 14px 10px 56px;
			background: #0e0e0e url('../img/search-icon.svg') no-repeat 14px 7px;
			border: none;
			border-bottom: 4px solid #373737;
			color: #fff;
			font-size: 24px;
			&:hover {
				border-bottom: 4px solid #444;
			}
			&:focus {
				outline: none;
				border-bottom: 4px solid #fff;
			}
		}
	}
	.menu {
		text-align: center;
		font-size: 24px;
		font-family: 'avenir-next-bold';
		align-items: center;
		margin-top: 148px;
		a {
			margin-bottom: 32px;
			margin-top: 40px;
			color: #3c3c3c;
			text-transform: uppercase;
			text-decoration: none;
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			justify-content: center;
		}
		.sub-menu {
			a {
				margin-bottom: 26px;
				margin-top: 0px;
				font-family: 'andale-mono';
			}
		}
		.active-menu {
			color: $white;
		}
	}
}
.product-catalog {
	margin-left: 414px;
	.filters-wrap {
		margin-top: 20px;
		margin-left: 15px;
		.catalog-filters {
			display: flex;
			align-content: flex-start;
			align-items: center;
			font-size: 24px;
			.filters-icon {
				display: block;
				background: #ebebeb url(../img/filter-icon.svg) no-repeat 50% 50%;
				background-size: 40px;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				padding: 11px 8px;
				width: 55px;
				height: 55px;
				line-height: 55px;
				margin-right: 29px;
			}
			.filter {
				.filter-heading {
					color: $filter-color-active;
					text-transform: uppercase;
					font-family: 'avenir-next-bold';
					font-weight: 100;
					margin-right: 15px;
				}
				.filter-button {
					border: none;
					background: none;
					color: #d6d6d6;
					text-transform: uppercase;
					cursor: pointer;
					font-family: 'avenir-next-bold';
					font-weight: 100;
					padding: 0px;
					margin-right: 10px;
				}
				.active {
					color: $filter-color-active;
				}
				&:last-of-type {
					margin-left: 65px;
				}
			}
		}
	}
}

.catalog-wrap {
	margin-top: 20px;
	.row {
		width: 100%;
		justify-content: flex-start;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		.product {
			box-shadow: 1px 5px 15px #CCCCCC;
			width: 15em;
			height: auto;
			padding: 0 8px;
			padding-top: 6px;
			padding-bottom: 6px;
			margin: 1em;
			overflow: hidden;
			position: relative;
			flex: auto;
			background: $cart-bg-color;
			img {
				max-width: 100%;
				height: auto;
			}
			&_inner {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-flow: column wrap;
				position: relative;
				.button {
					text-decoration: none;
					text-transform: uppercase;
					display: block;
					width: 100%;
					min-height: 90px;
					line-height: 90px;
					text-align: center;
					font-family: 'avenir-next-bold';
					font-size: 30px;
					color: $white;
					cursor: pointer;
					background: $cart-btn-color;
					margin: 0;
					margin-top: 13px;
					padding: 0;
		    }
				.sale-tag {
					position: absolute;
					top: 5px;
					right: 5px;
					background-color: $sale-tag-color;
					font-size: 14px;
					font-family: 'avenir-next-bold';
					text-transform: uppercase;
					color: $white;
					padding: 6px 20px;
				}
		  }
		}
	}
}
